<article>
    <form #calculForm="ngForm" (ngSubmit)="onSubmitForm(calculForm)">
    
        <label for="distanceInput">Distance en km</label>
        <input id="distanceInput" name="distance" type="number" [(ngModel)]="distance">
        
        <label for="vitesseInput">Vitesse en km/h</label>
        <input id="vitesseInput" name="vitesse" type="number" [(ngModel)]="vitesse">
        
        <label for="autonomieInput">Autonomie en km</label>
        <input id="autonomieInput" name="autonomie" type="number" [(ngModel)]="autonomie">
        
        <label for="rechargeInput">Recharge en km/h</label>
        <input id="rechargeInput" name="recharge" type="number" [(ngModel)]="recharge">
        
        <button type="submit">Calculer</button>
    </form>

    <div *ngIf="resultat">
        <hr>
        <p>Resultat : {{ resultat }}</p>
    </div>

</article>
