/* You can add global styles to this file, and also import other style files */

.leaflet-control-zoom-in span {
  position: absolute;
  top: 0;
  left: 8px;
}

.leaflet-control-zoom-out span {
  position: absolute;
  top: 30px;
  left: 8px;

}