.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

app-map {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

app-info {
    grid-column: 1;
}

@media only screen and (max-width: 576px) {
    app-map, app-info, app-cars {
        grid-column: 1;
    }

    app-info {
        padding-top: 60%;
    }

    app-map {
        grid-row: 2 / 4;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}