#map {
    height: 100%;
    width: 100%;
}

input {
    width: 35%;
    margin: 2%;
}

button {
    width: 15%;
    margin: 2%;
    display: inline;
}


@media only screen and (max-width: 576px) {
    input {
        width: 90%;
        margin: 2%;
    }

    button {
        width: 90%;
        margin: 2%;
        display: block;
    }
}
