#map{
    height: 100%;
    width: 100%;
}

form{
    display: flex;
    margin-top: 10px;
    
}

#inputtype{
    display: flex;
    width: 270px;
    margin-right: 50px;
}

label{
    margin-top: 10px;
    margin-right: 10px;
}

button{
    width: 100px;
    margin-right: 50px;
}