<form (ngSubmit)="onSubmitForm()">
    
    <datalist *ngIf="startCities$ | async as startCities" id="startCitySuggestions">
        <option *ngFor="let city of startCities">{{ city }}</option>
    </datalist>

    <input type="search" 
        id="startSearch"
        name="startSearch"
        placeholder="Départ"
        autocomplete="on"
        list="startCitySuggestions"
        [(ngModel)]="startCity"
    >


    <datalist *ngIf="destCities$ | async as destCities" id="startCitySuggestions">
        <option *ngFor="let city of destCities">{{ city }}</option>
    </datalist>

    <input type="search" 
        id="destSearch"
        name="destSearch"
        placeholder="Destination"
        autocomplete="on"
        list="destCitySuggestions"
        [(ngModel)]="destCity"
    >

    <button type="submit">Chercher</button>    
</form>


<div id="map"></div>