<form (ngSubmit)="onSubmitForm()">

    <datalist *ngIf="carsSuggestions$ | async as cars" id="carsSuggestions">
            <option *ngFor="let car of cars">{{ car.model }}</option>
    </datalist>

    <input type="search"
            id="carsInput"
            name="carsInput"
            placeholder="Choisissez une voiture"
            autocomplete="on"
            list="carsSuggestions"
            [(ngModel)]="car"
            (input)="onChangeCarSearch()"
    >
    
    <button type="submit">Valider</button>
</form>
